.reg {
    color: white;
    font-weight: bold;
}
a{
    text-decoration: none !important;
}

.head{
    background-color: #6f42c1;
    color: white;
}

body{
    height: 100%;
    background: url("/images/1.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.post{
    color: white;
}

.fels{
    /*background-color: #6f42c1 !important;*/
}

.com{
    background-color: #e1e1e1;
    padding: 0 !important;
    color: black !important;
}

.comtitle{
    color: white !important;
    background-color: #6f42c1;
}

#home{
    color: black !important;
    margin-right: 20px;
}

.ht{
    /*background: url("/images/1.gif");*/
}

#sxd{
    height: 100% !important;
    background: url("/images/1.gif") no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

#app{
    height: 100% !important;
    background: url("/images/1.gif") no-repeat center center fixed !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.mmm{
    background-color: transparent;
}

.comInput{
}

